/*Header*/
*{
	margin: 0%;
	padding: 0%;
}


.heder { 
	background-color:rgba(244.0000006556511, 152.0000061392784, 59.00000028312206, 1);
	width:1440px;
	height:133px;
	position:absolute;
}
.e57_207 { 
	width:231px;
	height:97px;
	position:absolute;
	left:133px;
	top:18px;
}
.e3_12 { 
	width:231px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/nombreteglioscuro_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_92 { 
	color:rgba(0, 0, 0, 1);
	width:180px;
	height:0px;
	position:absolute;
	left:25px;
	top:97px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e115_35 { 
	width:127px;
	height:31px;
	position:absolute;
	left:766px;
	top:51px;
}
.ei115_35_100_5 { 
	color:rgba(255, 255, 255, 1);
	width:127px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e115_43 { 
	width:106px;
	height:31px;
	position:absolute;
	left:957px;
	top:51px;
}
.ei115_43_7_98 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e115_53 { 
	width:188px;
	height:31px;
	position:absolute;
	left:1127px;
	top:51px;
}
.ei115_53_7_99 { 
	color:rgba(255, 255, 255, 1);
	width:188px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}




.body { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:0px;
	left: 0px;
	top: 133px;
	position:absolute;
}
.e27_35 { 
	width:317px;
	height:58px;
	position:absolute;
	left:877px;
	top:549px;
	background-image:url(images/gentedeconfianza_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e82_5 { 
	width:560px;
	height:420px;
	position:absolute;
	left:756px;
	top:78px;
}
.e27_36 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:560px;
	height:420px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e57_208 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(244.0000006556511, 151.999990940094, 58.99999648332596, 0.5099999904632568);
	width:560px;
	height:420px;
	position:absolute;
	left:0px;
	top:0px;
}


.bot_revendedor { 
	
	width:184px;
	height:50px;
	position:absolute;
	left: 240px;
	top: 139px;
	font-family:Lalezar;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}

.bot_productos { 
	
	width:167px;
	height:50px;
	position:absolute;
	left: 240px;
	top: 250px;
	font-family:Lalezar;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}

.bot_cotizacion { 
	
	width:164px;
	height:50px;
	position:absolute;
	left: 240px;
	top: 361px;
	font-family:Lalezar;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}



.footer { 
	background-color:rgba(103.0000014603138, 92.00000211596489, 78.00000295042992, 1);
	width:1440px;
	height:211px;
	left: 0px;
	top: 771px;
	position:absolute;
}
.e27_10 { 
	width:102px;
	height:99px;
	position:absolute;
	left:1277px;
	top:29px;
	background-image:url(images/sinboltegli_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_11 { 
	color:rgba(244.0000006556511, 152.0000061392784, 59.00000028312206, 1);
	width:145px;
	height:38px;
	position:absolute;
	left:135px;
	top:29px;
	font-family:Lalezar;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e27_12 { 
	color:rgba(244.0000006556511, 152.0000061392784, 59.00000028312206, 1);
	width:127px;
	height:38px;
	position:absolute;
	left:565px;
	top:29px;
	font-family:Lalezar;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e27_13 { 
	color:rgba(244.0000006556511, 152.0000061392784, 59.00000028312206, 1);
	width:119px;
	height:38px;
	position:absolute;
	left:977px;
	top:29px;
	font-family:Lalezar;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e106_11 { 
	width:178px;
	height:31px;
	position:absolute;
	left:135px;
	top:72px;
}
.e27_15 { 
	width:20px;
	height:20.40816307067871px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(images/instagram_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_17 { 
	color:rgba(255, 255, 255, 1);
	width:143px;
	height:31px;
	position:absolute;
	left:35px;
	top:0px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e27_18 { 
	color:rgba(255, 255, 255, 1);
	width:218px;
	height:31px;
	position:absolute;
	left:565px;
	top:72px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e106_12 { 
	width:178px;
	height:31px;
	position:absolute;
	left:135px;
	top:113px;
}
.e27_14 { 
	width:20px;
	height:20.40816307067871px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(images/facebook_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_19 { 
	color:rgba(255, 255, 255, 1);
	width:143px;
	height:31px;
	position:absolute;
	left:35px;
	top:0px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e106_13 { 
	width:132px;
	height:31px;
	position:absolute;
	left:135px;
	top:153px;
}
.e27_16 { 
	width:20px;
	height:20.40816307067871px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(images/whastapp_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_20 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:31px;
	position:absolute;
	left:35px;
	top:0px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e27_21 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:31px;
	position:absolute;
	left:565px;
	top:108px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e27_26 { 
	color:rgba(255, 255, 255, 1);
	width:311px;
	height:31px;
	position:absolute;
	left:565px;
	top:144px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e27_27 { 
	color:rgba(255, 255, 255, 1);
	width:364px;
	height:24px;
	position:absolute;
	left:135px;
	top:186px;
	font-family:Lalezar;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e121_19 { 
	width:127px;
	height:31px;
	position:absolute;
	left:977px;
	top:62px;
}
.ei121_19_27_22 { 
	color:rgba(255, 255, 255, 1);
	width:127px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e121_29 { 
	width:188px;
	height:31px;
	position:absolute;
	left:977px;
	top:93px;
}
.ei121_29_27_23 { 
	color:rgba(255, 255, 255, 1);
	width:188px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e121_37 { 
	width:103px;
	height:31px;
	position:absolute;
	left:977px;
	top:124px;
}
.ei121_37_27_24 { 
	color:rgba(255, 255, 255, 1);
	width:103px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e121_45 { 
	width:89px;
	height:31px;
	position:absolute;
	left:977px;
	top:152px;
}
.ei121_45_27_25 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
